.about-img {
  width: 100%;
  position: relative;
  top: 10%;
}

.about-img-text1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 450;
  color: #282c34;
  position: absolute;
  text-align: justify;
  top: 12%;
  left: 2%;
  right: 55%;
}

.about-img-text2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 450;
  color: #282c34;
  position: absolute;
  text-align: justify;
  top: 30%;
  left: 2%;
  right: 55%;
}

.about-img-text3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 450;
  color: #282c34;
  position: absolute;
  text-align: justify;
  top: 45%;
  left: 2%;
  right: 55%;
}

.about-img-text4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 450;
  color: #282c34;
  position: absolute;
  text-align: justify;
  top: 57%;
  left: 1%;
  right: 62%;
}

.about-img-text5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 450;
  color: #282c34;
  position: absolute;
  text-align: justify;
  top: 98%;
  left: 2%;
  right: 63%;
}

.about-list-item {
  line-height: 26px;
}
