#contact {
  background-color: white !important;
  padding-top: 5px;
  padding-left: 15px;
}

.contact-logo {
  color: white !important;
  background-color: white !important;
  max-width: 30rem;
  height: 15rem;
  display: inline-flex;
  padding-left: 8rem;
  padding-right: 4rem;
}
